   /* common or utility style */
   body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9F9F9F;
   }
   main{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .container{
    background-color: #FFFFFF;
    width: 870px;
    height: 679px;
    margin-top: 21px;
    border-radius: 2px;
    padding: 30px;
    margin-top: 30px;

   }
   .container-last{
    width: 870px;
    height: 362px;
   }
   hr{
    border: 1px solid #D1D1D1;
    align-items: center;
    margin-bottom: 30px;
    
   }


    /* style in top players */
    .top-palyers{
       margin-bottom: 30px;
    }
    .section-title{
        font-size: 24px;
        color: #562EFF;
        margin-top: 30px;
    }
    
    
    .players{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 30px;
        margin-bottom: 40px; 
    }
    .player{
        display: flex;
        align-items: center;
    }
    .player img{
        height: 56px;
        width: 56px;
    }
    .player-name{
        font-size: 18px;
        margin-left: 16px;
    }
    /* start style top blogs */
    .blogs{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        grid-row-gap: 36px;
    }
   .blog .thubnail img{
    height: 117px;
    width: 177px;
   }
   .top-blogs{
    margin-bottom: 20px ;
   }
   .blog{
    display: flex;
   }
   .info{
    margin-left: 16px;
   }
   .blog-name{
    font-size: 20px;
   }
   .author{
    font-size: 16px;
    color:#9F9F9F;
   }
   .author a{
    text-decoration: none;
    font-size: 16px;
    color:#562EFF;
   }
   /* style of Courses */
   .courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
   }
   .course-rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
   .course img{
    width: 224px;
    height: 104px;
    margin: 16px;
   }
   .fa-star{
    font-size: 14px;
   }
   .fa-star.filled{
    color: #FFC014;
   }
   .fa-star empty{
    color: #AEAEAE;
   }
   .course-time{
    border-radius: 15px;
    background-color: #FEE5DF;
    
   }
   .fa-clock{
    color:#FF4A60;
   }
   .course{
    width: 252px;
    height: 269px;
    border: 1px solid #7a6666;
    border-radius: 13px;
   }